
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
      "cinder-api": { "unique": false, "count": 1},
      "cinder-sceduler": { "unique": false, "count": 1},
      "cinder-volume": { "unique": false, "count": -1}
    };
    node_selector($('#drag_drop'), constraints);
  });

