.test_suite {
  table-layout: fixed;
}

.test_suite.box tr td:first-child {
    padding: 0;
}

.test_suite .misc {
  width: 16px;
}

.test_suite .name {
  width: 100%;
}

.test_suite .time {
  width: 70px;
  text-align: right;
}

.test_suite .status {
  width: 70px;
  text-align: right;
}

.test_suite .msg td:first-child
{
    padding: 0;
}

.test_suite .msg pre {
    margin: 0;
    padding: 5px;
    width: 950px;
    display: block;
    overflow-x: auto;
}

.test._error .status {
    color: darkred;
}

.msg._error pre {
    background-color: darkred;
}

.test._skipped .status {
    color: blue;
}

.msg._skipped pre {
    background-color: darkblue;
} 

.test._failure .status {
    color: red;
}

.msg._failure pre {
    background-color: brown;
}

.test._passed .status {
    color: green;
}

